# Salesforce and Git environment variables, For Salesforce access token you may extend it to generate at run time for a production grade application.
# Replace all the below configurations with your actual values.
SF_ACCESS_TOKEN=eyJ0bmsiOiJjb3JlL****
SF_INSTANCE=https://orgfarm-****-dev-ed.develop.my.salesforce.com
SF_API_ENDPOINT=https://api.salesforce.com
# You can explore with more model
MODEL_ID=sfdc_ai__DefaultOpenAIGPT4Omni

GIT_TOKEN=ghp_****
GIT_REPO=myrepo/releaseRep****
GIT_BRANCH=main

# Git user configuration for commits (required by Git)
GIT_USER_EMAIL=selfhealing@yourcompany.com
GIT_USER_NAME=Self-Healing Agent

# JIRA environment variables
JIRA_BASE_URL=https://***.atlassian.net/
JIRA_EMAIL=***@gmail.com
JIRA_API_TOKEN=ATATT3xFfGF0v*****
JIRA_PROJECT_KEY=KAN****
JIRA_ISSUE_TYPE=Task